*, *::before, *::after {
    box-sizing: border-box;
}

a, span {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --color_text: #CE1212;
    --color_nav: #7F7F90;
    --color-bg: #ffffff;   
    --color-text-dark: #ffffff; 
    --color-bg-dark: #000000;  
    --color-h2: #37373f;
    --font-primary: "Amatic SC", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 85.88px;

}

/* Navbar */
navbar {
    width: 100%;
    z-index: 9999;
    position: fixed;
    box-shadow: 0px 3px 14px 0px #0000001b;
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3px 80px;
    z-index: 999;
}

.logo::after {
    content: ".";
    color: var(--color_text);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: var(--color_nav);
    font-size: 18px;
    position: relative;
    text-decoration: none;
}

.nav-links li a.home {
    color: black;
    font-weight: 600;
}

.nav-links li a::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color_text);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms;
}

.nav-links li a:not(.home):hover::before {
    transform: scaleX(1);
}

.nav-links li a:hover {
    color: black;
}

.nav-links li a.home::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color_text);
    transform: none;
}

.fa-solid, .fa-regular {
    font-size: 25px;
}

.menu {
    display: none;
    color: black;
}

.dark, .light {
    cursor: pointer;
}

.mode:checked ~ .dark {
    display: none;

}

.mode:not(:checked) ~ .light {
    display: none;
}

/* Header */
.header {
    background: #e8ebed; 
    padding: 50px 20px; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    width: 100%; 
    position: relative;
    bottom: -60px;
    margin-bottom: 30px;
}

.header .title {
    max-width: 50%; 
}

.header .title h2 {
    font-size: 75px; 
    color: var(--color-h2); 
    margin: 0 0 10px 0; 
    font-family: var(--font-primary);
}

.header .title p {
    font-size: 1rem;
    color: var(--color-h2);
    line-height: 1.6;
    margin-bottom: 10px;
    margin-top: 40px;
    max-width: 500px;
}

.header .buttons {
    display: flex;
    gap: 30px; 
    margin: 20px 0; 
}

.header .btn {
    padding: 10px 20px; 
    border-radius: 5px; 
    color: #fff; 
    text-decoration: none; 
    font-size: 1rem; 
    transition: background-color 300ms; 
}

.btn.Book {
    background-color: #CE1212;
    border-radius: 0px 20px 25px 20px;
    padding: 11px 20px;
    height: 42px;
}

.btn.Book:hover {
    background-color: #e20404; 
}

.video {
    display: flex;
    align-items: center;
    color: #000;
}

.video:hover, .video:hover .icon i {
    color: #CE1212;
}

.video .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
}

.video .icon::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 130%;
    border-radius: 50%;
    background-image: linear-gradient(to right, #CE1212 50%, transparent 50%);
    top: -14%;
    left: -22%;
    z-index: -1;
}

.video .icon i {
    font-size: 16px;
    color: #000;
}

.header .image {
    max-width: 40%; 
}

.header .image img {
    width: 100%; 
    height: auto; 
}

/* Chefs section */
.section-chefs {
    text-align: center;
    position: relative;
    margin: 50px auto;
}

.section-chefs h2 {
    font-size: 14px;
    color: #7F7F90;
    font-weight: 400;
}

.section-chefs h3 {
    font-family: var(--font-primary);
    font-size: 50px;
    margin-top: 5px;
    letter-spacing: 2px;
}

.section-chefs h3 span {
    color: var(--color_text);
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center; 
}

.cards .content {
    padding: 20px;
    text-align: center;
}

.content h3 {
    font-size: 19px;
    line-height: 1.7;
}

.content h4 {
    font-size: 15px;
    color: #a9a5a5;
}

.content p {
    font-size: 14px;
    color: #555;
}

.card {
    width: calc(31.333% - 13px); 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 400ms;
}

.image-container img {
    width: 100%;
    
}

.image-container {
    position: relative;
    overflow: hidden;
}
.image-container .zigzag {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150%;
  height: auto;
}

.overlay {
    position: absolute;
    top: 60px;
    right: 15px;
    bottom: 0;
    width: 15%;
    background: rgb(58 57 57 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 600ms .5s;
    height: 50%;
    border-radius: 10px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.overlay ul li a {
    color: #e0e0e8ab;
    font-size: 20px;
}

.overlay ul li a:hover {
    color: #4d4d52ab;   
}

/* Gallery */
.gallery {
    background: #e8ebed;
    position: relative;
    bottom: -48px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /
}

.photos picture {
    flex: 0 0 calc(33.333% - 20px); 
    position: relative;
    overflow: hidden;
    border-radius: 10px; 
}

.photos img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
}


.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photos picture:hover .layer {
    opacity: 1;
}










/*contact*/
.contact {
            position: relative;
            bottom: -60px;
        }
        .contact .container {
            margin-bottom: -70px;
        }
        iframe {
            width: 90%;
            height: 400px; 
            margin-top: -60px;
            max-width: 1160px;
        }

        .contact {
            background-color: #f8f9fa; 
            text-align: center;
        }

        .contact .container {
            max-width: 1200px;
            margin: 0 auto;
        }

        .details {
            display: flex;
            flex-wrap: wrap;
            gap: 20px; /* space between items */
            padding: 20px;
            max-width: 1200px; /* adjust based on your layout */
            margin: 20px auto 0 auto; /* Adjusted to add space between iframe and details */
        }

        .details > div {
    flex: 1 1 calc(45% - 20px);
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 12px;
    height: 110px;
}


        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: var(--color_text); /* gray background */
            border-radius: 50%;
            margin-right: 15px;
            flex-shrink: 0; /* prevent icon from shrinking */
        }
        .icon i {
            font-size: 20px;
            color: #fff; /* icon color */
        }

        .details h3 {
            color: #7d7d7d;
            font-size: 20px;
            font-weight: 600;
            margin: 0 0 5px 0;
            display: flex;
        }

        .details p, .details a {
            font-size: 16px;
            color: black;
            margin: 0;
        }

        @media (max-width: 768px) {
            .details > div {
                flex: 1 1 100%; /* full width on smaller screens */
            }
        }
        /*p, a {
            margin: 0;
            font-size: 16px;
        }
        a {
            color: #0066cc;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
*/